/* MOBILE */

html {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #3E3232;
    padding: 0px;
    margin: 0px;
    color: white;
}

.main-container {
    display: flex;
    overflow-x: hidden;
    flex-direction:column;
    width: 100dvw;
}

nav {
    top: 0;
    height: 50px;
    width: 100dvw;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.39);
    margin: 0px;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_item {
    font-size: min(2em, 10dvw);
    width: 50%;
    text-align: center;
    margin: 0px;
}

.hero {
    height: auto;
    object-fit: scale-down;
    min-height: 100px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.hero h1 {
    margin: 0;
    width: max-content;
    text-align: center;
    justify-self: center;
    align-self: center;
    letter-spacing: min(2dvw, 0px);
    color: white;
    font-size: min(5em, 15dvw);
}

.hero img {
    width: 100%;
    height: 65dvw;
    justify-self:center;
    object-fit: scale-down;
    margin: auto;
}

.content-selection{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    padding-bottom: 25px;
}

.instructions {
    display: flex;
    color: white;
    text-align: center;
}

.dropdown {
    position: relative;
    background-color: #f9f9f9;
    width: 120px;
    height: 60px;
    color: black;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    color: black;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
 
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 99;
}   

.getGamesButton {
    width: 200px;
    margin-top: 20px;
}

.RecentGames {
    padding-left: 15px;
}

footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    text-align:center;
    width: 100%;
    font-size: small;
    margin-top: 50px;
}

/* 480px - 768px = tablet */
@media (min-width: 480px) {
   

}

/* 768px - 1024px = telas menores, laptops */
@media (min-width: 768px) {
  
}

/* 1024px - 1200px = desktop */
@media (min-width: 1024px) {
    /* nav {
        top: 0;
        height: 50px;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.39);
        margin: auto;
        display: flex;
        z-index: 2;
        position: relative;
    }
    
    .nav_list {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content:center;
        align-items: center;
    }
    
    .nav_item {
        display: flex;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .hero {
        height: auto;
        z-index: 0;
        justify-content: center;
        justify-items: center;
    }
    
    .hero h1 {
        top: 1px;
        margin: 0;
        text-align: center;
        letter-spacing: 45px;
        color: white;
        font-size: 5em;
    }
    
    .hero img {
        justify-self:center;
        margin: auto;
        display: flex;
    }
    
    .RecentGames {
        margin-left: 10px;
        margin-right: 10px;
        background-color: #7E6363;
    }
    
    .RecentGames h1{
        padding-left: 25px;
        padding-top: 10px;
    }
    
    .games_list {
        padding-left: 0px;
        margin-top: 0px;
    }
    
    
    .ListHeader{
        display:flex ;
        grid: auto auto / auto auto auto auto;
        grid-gap: 10px; 
        flex-grow: 1;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        height: 45px;
        color: white;
        background-color: #503C3C;
        
    }
    
    .ListHeader a {
        padding-left: 25px;
    }
    
    .players {
        width: 35vw ;
    }
    
    .accuracy {
        width: 10vw;
    }
    
    .date {
        width: 25vw;
    }
    
    .url {
        padding-right: 50px;
    }
    
    footer {
        display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        height: 100px;
        color: white;
        background-color: black;
        margin: 0;
        
    } */

}